<% provide(:title, 'Sobre nós') %>

<div class="row">
  <div class="span12 text-center">
    <p><%= image_tag("logo-dcid.png", alt: "DCID logo", width: "350") %></p>
    <br/>
    <p class="lead"><strong>DCID é uma plataforma colaborativa online que permite a qualquer organização recolher e debater sugestões da sua comunidade.</strong></p>
  </div>
</div>

<br/>

<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span4">
        <h4><%= image_tag("logo-dcid-head.png", alt: "*", width: "25", height: "25") %>&nbsp;Colaboração</h4>
        <p>Qualquer participante pode criar, apresentar e discutir sugestões em conjunto, num único local.</p>
        <br/>
      </div>
      <div class="span4">
        <h4><%= image_tag("logo-dcid-head.png", alt: "*", width: "25", height: "25") %>&nbsp;Facilidade</h4>
        <p>Basta um registo, não precisa instalar nada. Uma interface minimalista e intuitiva, que se adapta ao dispositivo de cada utilizador.</p>
        <br/>
      </div>
      <div class="span4">
        <h4><%= image_tag("logo-dcid-head.png", alt: "*", width: "25", height: "25") %>&nbsp;Transparência</h4>
        <p>Os participantes têm acesso a todas as propostas em discussão e ao respectivo número de votos.</p>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h4><%= image_tag("logo-dcid-head.png", alt: "*", width: "25", height: "25") %>&nbsp;Eficiência</h4>
        <p>Recolha sugestões de dezenas ou milhares de participantes com a mesma facilidade e rapidez.</p>
        <br/>
      </div>
      <div class="span4">
        <h4><%= image_tag("logo-dcid-head.png", alt: "*", width: "25", height: "25") %>&nbsp;Flexibilidade</h4>
        <p>O aspecto da plataforma é personalizável a cada organização. Também podemos desenvolver funcionalidades à medida das suas necessidades.</p>
        <br/>
      </div>
      <div class="span4">
        <h4><%= image_tag("logo-dcid-head.png", alt: "*", width: "25", height: "25") %>&nbsp;Privacidade</h4>
        <p>Torne a sua plataforma pública para a toda a gente poder participar ou torne-a privada para proteger a sua inovação interna.</p>
        <br/>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="span12">

    <h1>Quem somos?</h1>

    <p align="justify">Esta plataforma foi criada pelo Code4PT. Inspirado no movimento <a href="http://codeforamerica.org/">Code For America</a>, o Code4PT é uma organização de programadores portugueses que doam o seu tempo para criar soluções tecnológicas que melhorem a vida dos portugueses.</p>
    <p align="justify">Nesse sentido, o DCID pretende ser uma ferramenta que potencie a participação cívica e construtiva de todos os portugueses. O conteúdo e opiniões publicadas nesta plataforma são da exclusiva responsabilidade dos seus autores e não podem ser associadas ao Code4PT ou aos seus elementos.</p>

    <p class="text-center"><em>Sê a mudança que queres ver no mundo.</em> -- Mahatma Gandhi</p>
    <p class="text-center">Tudo começa com uma pessoa.</p>
    <p class="text-center"><strong>Você.</strong></p>
    <p class="text-center">Agora DCID.</p>

    <p class="pull-right">por <a href="http://www.diogonunes.com/sobre-mim">Diogo Nunes</a><p>

  </div>
</div>
