<% provide(:title, '') %>

<% if signed_in? %>


<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= image_tag("logo-dcid.png", alt: "DCID logo", width: "350") %></h1>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 offset2 text-center">
    <i class="fa fa-bullhorn fa-4x"></i>
    <br><br>
    <%= link_to '<button class="btn btn-default btn-success btn-lg"><b>Propor</b></button>'.html_safe, new_proposal_path %>
  </div>
  <br class="visible-xs"><!-- separates divs -->
  <div class="col-md-4 text-center">
    <i class="fa fa-thumbs-o-up fa-4x"></i>
    <br><br>
    <%= link_to '<button class="btn btn-default btn-success btn-lg"><b>Decidir</b></button>'.html_safe, proposals_path %>
  </div>
</div>


<% else %>


<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= link_to image_tag("logo-dcid.png", alt: "DCID logo", width: "350"), signup_path %></h1>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4 text-center">
    <i class="fa fa-bullhorn fa-4x"></i>
    <h2><strong>Propor</strong></h2>
    <p class="">Faça a sua voz ser ouvida</p>
  </div>
  <div class="col-md-4 text-center">
    <i class="fa fa-comments fa-4x"></i>
    <h2><strong>Debater</strong></h2>
    <p class="">Melhore a sua proposta</p>
  </div>
  <div class="col-md-4 text-center">
    <i class="fa fa-thumbs-o-up fa-4x"></i>
    <h2><strong>Decidir</strong></h2>
    <p class="">Junte apoiantes e faça acontecer</p>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to '<button class="btn btn-default btn-success btn-lg">Participe!</button>'.html_safe, signup_path %>
  </div>
</div>


<% end %>
