<% provide(:title, "Entrar") %>

<div class="row">
  <div class="span12">
    <h1>Entrar</h1>

    <div class="row">
      <div class="span6 offset3">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :email, "Email" %>
          <%= f.text_field :email %>

          <%= f.label :password, "Palavra-chave" %>
          <%= f.password_field :password %>

          <%= f.submit "Entrar", class: "btn btn-success" %>
        <% end %>
        <small><%= link_to "Não tem um perfil?", signup_path %></small>
        <small class="pull-right"><%= link_to "Esqueceu-se da palavra-chave?", new_password_reset_path %></small>
      </div>
    </div>

  </div>
</div>
