<% provide(:title, "Editar definições") %>

<div class="row">
  <div class="span12">

    <h1>Edite as suas definições</h1>

    <div class="row">
      <div class="span6 offset3">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name, "Nome" %>
          <%= f.text_field :name %>

          <%= f.label :email, "Email" %>
          <%= f.text_field :email %>

          <%= f.label :password, "Palavra-chave" %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Repita a palavra-chave" %>
          <%= f.password_field :password_confirmation, placeholder: "Só para confirmar" %>

          <h3>Privacidade</h3>

          <%= f.label :political_party, "Partido político" %>
          <%= f.text_field :political_party, placeholder: "SIGLA", :maxlength => 6, class: "input-small" %>
          <br>

          <%= f.label :is_name_public, "Nome público" %>
          <%= f.check_box :is_name_public %>

          <%= f.label "Imagem pública" %>
          <%= gravatar_for @user %> <a href="http://gravatar.com/emails">alterar</a>
          <br><br>

          <%= f.submit "Guardar alterações", class: "btn btn-success" %>
          <%= link_to '<button class="btn">Cancelar</button>'.html_safe, current_user %>
        <% end %>
      </div>
    </div>

  </div>
</div>


<% content_for :head do %>
  <script type="text/javascript">
  $(document).ready(function() {
    $('input:checkbox').bootstrapSwitch();
  });
  </script>
<% end %>
