<% provide(:title, @user.name) %>

<div class="row">
  <div class="span12">

    <h1><%= gravatar_for @user %> <%= @user.name %></h1>

    <% if @user.proposals.any? %>
      <h3>Propostas (<%= @user.proposals.count %>)</h3>
      <br>
      <%= render @proposals %>
      <%= will_paginate @proposals %>
    <% end %>

  </div>
</div>
