<% provide(:title, @user.name) %>

<div class="row">
  <div class="span12">

    <h1><%= gravatar_for @user %> <%= @user.name %></h1>

    <% if @user.proposals.any? %>
      <h3 align="">Propostas (<%= @user.proposals.count %>)</h3>
      <ol class="proposals">
        <%= render @proposals %>
      </ol>
      <%= will_paginate @proposals %>
    <% end %>

  </div>
</div>
