<div class="row-fluid">
  <div class="span12" style="background-color: #EEEEEE">
    <div class="span3 text-center" style="background-color: #DDDDDD">
      <h3><%= proposal.score %></h3>
      <p><a class="btn btn-success" title="I agree with this proposal." href="#"><b><i class="fa fa-thumbs-up"></i>&nbsp;<%= proposal.upvotes %></b></a>&nbsp;
         <a class="btn btn-danger" title="I disagree with this proposal." href="#"><b><i class="fa fa-thumbs-down"></i>&nbsp;<%= proposal.downvotes %></b></a></p>
    </div>
    <div class="span9">
      <h4><a href="#"><%= proposal.title %></a></h4>
      <small class="muted">Proposto por <%= link_to proposal.user.short_name, proposal.user %> em <%= proposal.created_at.to_time.strftime('%e/%m/%Y') %></small>
    </div>
  </div>
</div>
<br>
