<% provide(:title, 'Editar proposta') %>

<div class="row">
  <div class="span12">

    <h1>Edite a sua proposta</h1>

    <div class="row">
      <div class="span8 offset2">
        <%= form_for(@proposal) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :title, "Título" %>
          <%= f.text_field :title, maxlength: 60, placeholder: "Uma frase a que seja possível responder 'Sim' ou 'Não'" %>

          <%= f.label :problem, "Problema" %>
          <%= f.text_area :problem, rows: 5, maxlength: 500, placeholder: "(max. 500 caract.)"  %>

          <div id="solution_field"></div>
          <%= f.label :solution, "Solução" %>
          <%= f.text_area :solution, rows: 8, maxlength: 1000, placeholder: "(max. 1000 caract.)" %>

          <%= f.label :tag_list, "Temas" %>
          <%= f.text_field :tag_list, maxlength: 255, placeholder: "separados, por, vírgulas"  %>

          <br>
          <%= f.submit "Guardar alterações", class: "btn btn-success" %>
          <%= link_to '<button class="btn">Cancelar</button>'.html_safe, @proposal %>
        <% end %>
      </div>
    </div>
  </div>
</div>
