<% provide(:title, @proposal.title) %>

<div class="row">
  <div class="span12">
    <h2><%= @proposal.title %></h2>
    <br>
    <div class="row">
      <div class="span9">
        <p><%= @proposal.problem %></p>
        <br>
        <h3>Solução</h3>
        <p><%= @proposal.solution %></p>
        <br class="visible-phone"> <!-- separates text -->
      </div>
      <div class="span3 text-center">
        <p><%= render 'shared/vote_buttons', :proposal => @proposal %></p>
        <p><%= render 'shared/link_to_user', :user => @proposal.user %> em <%= @proposal.created_at.to_time.strftime('%e/%m/%Y') %></p>
        <% if current_user.admin? || current_user?(@proposal.user) %>
          <%= link_to '<button class="btn btn-small">Apagar proposta</button>'.html_safe, @proposal,
                method: :delete, data: { confirm: "De certeza?" }, title: @proposal.title %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span12">
        <h3>Comentários</h3>
        <div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="10" data-colorscheme="light"></div>
      </div>
    </div>
  </div>
</div>
