<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("logo-dcid.png", alt: "DCID", width: "75"), root_path, id: "logo" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- left buttons, EMPTY for now -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><%= link_to '<i class="fa fa-comment"></i> Propostas'.html_safe, proposals_path %></li>
            <li><%= link_to '<i class="fa fa-group"></i> Cidadãos'.html_safe, users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i> <%= current_user.welcome_name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil",  current_user %></li>
                <li><%= link_to '<i class="fa fa-cog"></i> Definições'.html_safe, edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe, signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Como funciona?", how_path %></li>
            <li><%= link_to '<i class="fa fa-sign-in fa-fw"></i> Entrar'.html_safe, signin_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
